<link href="admin/assets/css/admin.css" rel="stylesheet">
<div ng-controller="adminController">
    <div class="navbar-fixed">
        <ul id="dropdown" class="dropdown-content">
            <li><a href="#" ng-click="admin = adminPages[0]">Student</a></li>
            <li><a href="#" ng-click="admin = adminPages[1]">Company</a></li>
            <li><a href="#" ng-click="admin = adminPages[2]">Job</a></li>
            <li class="divider"></li>
            <li><a href="#">Sign out</a></li>
        </ul>
        <nav>
            <div class="nav-wrapper">
                <a class="brand-logo center dropdown-button" href="#" data-activates="dropdown" data-beloworigin="true">
                    <i class="material-icons right">dialpad</i>
                </a>
            </div>
        </nav>
    </div>
    <div  ng-include="admin"></div>

    <div class="fixed-action-btn horizontal" style="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-large blue waves-effect waves-light">
            <i class="large material-icons">add</i>
        </a>
        <ul>
            <li><a class="btn-floating red"><i class="material-icons">person_pin</i></a></li> <!--student-->
            <li><a class="btn-floating yellow"><i class="material-icons">work</i></a></li><!--company-->
            <li><a class="btn-floating green"><i class="material-icons">settings_input_composite</i></a></li><!--skills-->
            <li><a class="btn-floating blue"><i class="material-icons">room</i></a></li><!--city-->
            <li><a class="btn-floating black"><i class="material-icons">supervisor_account</i></a></li> <!--university-->
        </ul>
    </div>
</div>