<link href="admin/assets/css/admin.css" rel="stylesheet">
<div ng-controller="adminController">
    <div class="navbar-fixed">
        <ul id="dropdown" class="dropdown-content">
            <li><a href="#" ng-click="adminCurrent = adminPages[0]">Student</a></li>
            <li><a href="#" ng-click="adminCurrent = adminPages[1]">Company</a></li>
            <li><a href="#" ng-click="adminCurrent = adminPages[2]">Job</a></li>
            <li class="divider"></li>
            <li><a href="#">Sign out</a></li>
        </ul>
        <nav>
            <div class="nav-wrapper">
                <a class="brand-logo center dropdown-button" href="#" data-activates="dropdown" data-beloworigin="true">
                    <i class="material-icons right">dialpad</i>
                </a>
            </div>
        </nav>
    </div>
    <div  ng-include="adminCurrent"></div>

    <div id="add-more" class="fixed-action-btn horizontal" style="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-large blue waves-effect waves-light">
            <i class="large material-icons">add</i>
        </a>
        <ul>
            <li>
                <a data-target="add-student-modal"  class="modal-trigger btn-floating red">
                    <i class="material-icons">person_pin</i>
                </a>
            </li> <!--student-->
            <li>
                <a data-target="add-company-modal" class="modal-trigger btn-floating yellow">
                    <i class="material-icons">work</i>
                </a>
            </li><!--company-->
            <li><a data-target="add-skill-modal" class="modal-trigger btn-floating green"><i class="material-icons">settings_input_composite</i></a></li><!--skills-->
            <li><a data-target="add-city-modal" class="modal-trigger btn-floating blue"><i class="material-icons">room</i></a></li><!--city-->
            <li><a data-target="add-university-modal" class="modal-trigger btn-floating black"><i class="material-icons">supervisor_account</i></a></li> <!--university-->
        </ul>
    </div>
</div>
<div id="add-student-modal" class="modal modal-fixed-footer">
    <div class="modal-content">
        <div class="row">
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s3 active"><a href="#degree_row">Basic</a></li>
                    <li class="tab col s3"><a href="#degree_row">Degree</a></li>
                    <li class="tab col s3"><a href="#skill_row">Skill</a></li>  
                    <li class="tab col s3"><a href="#certificate_row">Certificate</a></li>
                    <li class="tab col s3"><a href="#certificate_row">Experience</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Ok</a>
    </div>
</div>
<div id="add-company-modal" class="modal modal-fixed-footer">
    <div class="modal-content">
        <div class="row">
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s3 active"><a href="#degree_row">Basic</a></li>
                    <li class="tab col s3"><a href="#degree_row">Contact</a></li>
                    <li class="tab col s3"><a href="#skill_row">Misc</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Ok</a>
    </div>
</div>
<div id="add-skill-modal" class="modal modal-fixed-footer">
    <div class="modal-content">
        <div class="row">
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s3 active"><a href="#degree_row">Skill</a></li>
                    <li class="tab col s3"><a href="#degree_row">Skill Type</a></li>
                    <li class="tab col s3"><a href="#skill_row">Misc</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Ok</a>
    </div>
</div>
<div id="add-city-modal" class="modal modal-fixed-footer">
    <div class="modal-content">
        <div class="row">
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s3 active"><a href="#degree_row">City</a></li>
                    <li class="tab col s3"><a href="#degree_row">Country</a></li>
                    <li class="tab col s3"><a href="#skill_row">Misc</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Ok</a>
    </div>
</div>
<div id="add-university-modal" class="modal modal-fixed-footer">
    <div class="modal-content">
        <div class="row">
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s3 active"><a href="#degree_row">University</a></li>
                    <li class="tab col s3"><a href="#degree_row">Major</a></li>
                    <li class="tab col s3"><a href="#skill_row">Misc</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Ok</a>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#add-more .modal-trigger').leanModal();
    });
</script>