
<div id="add-more" class="fixed-action-btn horizontal" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large blue waves-effect waves-light">
        <i class="large material-icons">add</i>
    </a>
    <ul>
        <li>
            <a data-target="add-student-modal"  class="modal-trigger btn-floating red">
                <i class="material-icons">person_pin</i>
            </a>
        </li> <!--student-->
        <li>
            <a data-target="add-company-modal" class="modal-trigger btn-floating yellow">
                <i class="material-icons">work</i>
            </a>
        </li><!--company-->
        <li><a data-target="add-skill-modal" class="modal-trigger btn-floating green"><i class="material-icons">settings_input_composite</i></a></li><!--skills-->
        <li><a data-target="add-city-modal" class="modal-trigger btn-floating blue"><i class="material-icons">room</i></a></li><!--city-->
        <li><a data-target="add-university-modal" class="modal-trigger btn-floating black"><i class="material-icons">supervisor_account</i></a></li> <!--university-->
    </ul>
</div>
<div id="add-student-modal" class="modal modal-fixed-footer">
    <div class="modal-content">
        <div class="row">
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s3 active"><a class="active" href="#student_basic_row" ng-click="loadAllCountries();">Basic</a></li>
                    <li class="tab col s3"><a href="#student_degree_row"  ng-click="loadAllCountries();">Degree</a></li>
                    <li class="tab col s3"><a href="#student_skill_row">Skill</a></li>  
                    <li class="tab col s3"><a href="#student_certificate_row">Certificate</a></li>
                    <li class="tab col s3"><a href="#student_experience_row">Experience</a></li>
                </ul>
            </div>
            <div id="student_basic_row" class="col s12">
                <div class="row">
                    <div class="input-field col s4">
                        <input placeholder="First Name" required type="text" ng-model="predicates.personal.firstName">
                    </div>
                    <div class="input-field col s4">
                        <input placeholder="Middle Name"  type="text" ng-model="predicates.personal.middleName">
                    </div>
                    <div class="input-field col s4">
                        <input placeholder="Last Name" required type="text" ng-model="predicates.personal.lastName">
                    </div>
                </div>
                <div class="input-field col s12">
                    <label>Nationality select</label>
                    <select ng-model="predicates.personal.nationality" required watch material-select>
                        <option ng-repeat="country in preload.allCountries" value="{{country.cid}}" >{{country.name}}</option>
                    </select>
                </div>
                <div class="row">
                    <div class="center switch s6 col">
                        <label>
                            Female
                            <input id="genderRadioBox" checked type="checkbox" >
                            <span class="lever" ng-click="genderRadioBox()"></span>
                            Male
                        </label>
                    </div>
                    <div class="center switch s6 col">
                        <label>
                            International Student
                            <input id="statusRadioBox" checked type="checkbox">
                            <span class="lever" ng-click="statusRadioBox()" ></span>
                            PR/Citizen
                        </label>
                    </div>
                </div>
            </div>
            <div id="student_degree_row" class="col s12">
                <div class="input-field col s12">
                    <label>Country of Bachelor Degree</label>
                    <select class="center" ng-model="predicates.education.degrees[0]" required watch material-select >
                        <option value="0">No</option>
                        <option ng-repeat="country in preload.allCountries" value="{{country.cid}}" >{{country.name}}</option>
                    </select>
                </div>
                <div class="input-field col s12">
                    <label>Country of Master Degree</label>
                    <select class="center" ng-model="predicates.education.degrees[1]" watch material-select >
                        <option value="0">No</option>
                        <option ng-repeat="country in preload.allCountries" value="{{country.cid}}" >{{country.name}}</option>
                    </select>
                </div>
                <div class="input-field col s12">
                    <label>Country of PHD Degree</label>
                    <select class="center" ng-model="predicates.education.degrees[2]" watch material-select >
                        <option value="0">No</option>
                        <option ng-repeat="country in preload.allCountries" value="{{country.cid}}" >{{country.name}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="left modal-close waves-effect waves-green btn-flat ">Cancel</a>
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="statusRadioBox(); genderRadioBox(); print()" >Submit</a>
    </div>
</div>
<div id="add-company-modal" class="modal modal-fixed-footer">
    <div class="modal-content">
        <div class="row">
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s3 active"><a href="#degree_row" >Basic</a></li>
                    <li class="tab col s3"><a href="#degree_row">Contact</a></li>
                    <li class="tab col s3"><a href="#skill_row">Misc</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="left modal-close waves-effect waves-green btn-flat ">Cancel</a>
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Submit</a>
    </div>
</div>
<div id="add-skill-modal" class="modal modal-fixed-footer">
    <div class="modal-content">
        <div class="row">
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s3 active"><a href="#degree_row">Skill</a></li>
                    <li class="tab col s3"><a href="#degree_row">Skill Type</a></li>
                    <li class="tab col s3"><a href="#skill_row">Misc</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="left modal-close waves-effect waves-green btn-flat ">Cancel</a>
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Submit</a>
    </div>
</div>
<div id="add-city-modal" class="modal modal-fixed-footer">
    <div class="modal-content">
        <div class="row">
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s3 active"><a href="#degree_row">City</a></li>
                    <li class="tab col s3"><a href="#degree_row">Country</a></li>
                    <li class="tab col s3"><a href="#skill_row">Misc</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="left modal-close waves-effect waves-green btn-flat ">Cancel</a>
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Submit</a>
    </div>
</div>
<div id="add-university-modal" class="modal modal-fixed-footer">
    <div class="modal-content">
        <div class="row">
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s3 active"><a href="#degree_row">University</a></li>
                    <li class="tab col s3"><a href="#degree_row">Major</a></li>
                    <li class="tab col s3"><a href="#skill_row">Misc</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="left modal-close waves-effect waves-green btn-flat ">Cancel</a>
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Submit</a>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('ul.tabs').tabs();
        $('#add-more .modal-trigger').leanModal(
                {dismissible: false});
    });
</script>