<div id="add-more" class="fixed-action-btn horizontal" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large blue waves-effect waves-light">
        <i class="large material-icons">add</i>
    </a>
    <ul>
        <li>
            <a data-target="add-student-modal"  class="modal-trigger btn-floating red">
                <i class="material-icons">person_pin</i>
            </a>
        </li> <!--student-->
        <li>
            <a data-target="add-company-modal" class="modal-trigger btn-floating yellow">
                <i class="material-icons">work</i>
            </a>
        </li><!--company-->
        <li><a data-target="add-skill-modal" class="modal-trigger btn-floating green"><i class="material-icons">settings_input_composite</i></a></li><!--skills-->
        <li><a data-target="add-city-modal" class="modal-trigger btn-floating blue"><i class="material-icons">room</i></a></li><!--city-->
        <li><a data-target="add-university-modal" class="modal-trigger btn-floating black"><i class="material-icons">supervisor_account</i></a></li> <!--university-->
    </ul>
</div>
<div id="add-student-modal" class="modal modal-fixed-footer">
    <div class="modal-content">
        <div class="row">
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s3 active"><a class="active" href="#student_basic_row" ng-click="loadAllCountries();">Basic</a></li>
                    <li class="tab col s3"><a href="#student_degree_row"  ng-click="loadAllUniversities(); loadAllMajors();">Degree</a></li>
                    <li class="tab col s3"><a href="#student_skill_row" ng-click="loadAllSkills();">Skill</a></li>  
                    <li class="tab col s3"><a href="#student_certificate_row" ng-click="loadAllCertifications();">Certificate</a></li>
                    <li class="tab col s3"><a href="#student_experience_row" ng-click="loadAllCompanies();">Experience</a></li>
                </ul>
            </div>
            <div id="student_basic_row" class="col s12">
                <div class="row">
                    <div class="input-field col s4">
                        <input placeholder="First Name" required type="text" ng-model="predicates.personal.firstName">
                    </div>
                    <div class="input-field col s4">
                        <input placeholder="Middle Name"  type="text" ng-model="predicates.personal.middleName">
                    </div>
                    <div class="input-field col s4">
                        <input placeholder="Last Name" required type="text" ng-model="predicates.personal.lastName">
                    </div>
                </div>
                <div class="input-field col s12">
                    <label>Nationality select</label>
                    <select ng-model="predicates.personal.nationality" required watch material-select>
                        <option ng-repeat="country in preload.allCountries" value="{{country.cid}}" >{{country.name}}</option>
                    </select>
                </div>
                <div class="row">
                    <div class="center switch s6 col">
                        <label>
                            Female
                            <input id="genderRadioBox" checked type="checkbox" >
                            <span class="lever" ></span>
                            Male
                        </label>
                    </div>
                    <div class="center switch s6 col">
                        <label>
                            International Student
                            <input id="statusRadioBox" checked type="checkbox">
                            <span class="lever" ></span>
                            PR/Citizen
                        </label>
                    </div>
                </div>
                <div class="center switch s6 col">
                    <label>
                        Employed
                        <input id="availabilityRadioBox" checked type="checkbox">
                        <span class="lever" ></span>
                        Seeking for job
                    </label>
                </div>
            </div>
            <div id="student_degree_row" class="col s12">
                <ul class="collapsible" data-collapsible="accordion">
                    <li>
                        <div class="collapsible-header"><i class="material-icons">filter_drama</i>Bachelor Degree</div>
                        <div class="collapsible-body">
                            <div class="input-field col s6">
                                <label>University</label>
                                <!--                                <select  ng-model="predicates.education.deg[0].uid" watch material-select >
                                                                    <option value="0" >None</option>
                                    <option ng-repeat="u in preload.universities" value="{{u.uid}}" >{{u.name}}</option>
                                                                </select>-->
                                <select class="center" ng-options="u.uid as u.name for u in preload.universities"
                                        ng-model="predicates.education.deg[0].uid" material-select watch></select>
                            </div>
                            <div class="input-field col s6">
                                <label>Major</label>
                                <!--                                <select class="center" ng-model="predicates.education.deg[0].mid" watch material-select >
                                                                    <option value="0" selected>None</option>
                                    <option ng-repeat="m in preload.majors" value="{{m.mid}}" >{{m.name}}</option>
                                                                </select>-->
                                <select class="center" ng-options="m.mid as m.name for m in preload.majors"
                                        ng-model="predicates.education.deg[0].mid" material-select watch></select>
                            </div>
                            <div class="input-field col s4">
                                <input placeholder="From"  type="text" ng-model="predicates.education.deg[0].from" class="validate">
                            </div>
                            <div class="input-field col s4">
                                <input placeholder="To"  type="text" ng-model="predicates.education.deg[0].to" class="validate">
                            </div>
                            <div class="input-field col s4">
                                <i class="material-icons prefix">grade</i>
                                <label>GPA out of 100</label>
                                <input placeholder="GPA"  type="text" ng-model="predicates.education.deg[0].gpa" class="validate">
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">filter_drama</i>Master Degree</div>
                        <div class="collapsible-body">
                            <div class="input-field col s6">
                                <label>University</label>
                                <select class="center" ng-options="u.uid as u.name for u in preload.universities"
                                        ng-model="predicates.education.deg[1].uid" material-select watch></select>
                            </div>
                            <div class="input-field col s6">
                                <label>Major</label>
                                <select class="center" ng-options="m.mid as m.name for m in preload.majors"
                                        ng-model="predicates.education.deg[1].mid" material-select watch></select>
                            </div>
                            <div class="input-field col s4">
                                <input placeholder="From"  type="text" ng-model="predicates.education.deg[1].from" class="validate">
                            </div>
                            <div class="input-field col s4">
                                <input placeholder="To"  type="text" ng-model="predicates.education.deg[1].to" class="validate">
                            </div>
                            <div class="input-field col s4">
                                <label>GPA out of 100</label>
                                <i class="material-icons prefix">grade</i>
                                <input placeholder="GPA"  type="text" ng-model="predicates.education.deg[1].gpa" class="validate">
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">filter_drama</i>P.H.D Degree</div>
                        <div class="collapsible-body">
                            <div class="input-field col s6">
                                <label>University</label>
                                <select class="center" ng-options="u.uid as u.name for u in preload.universities"
                                        ng-model="predicates.education.deg[2].uid" material-select watch></select>
                            </div>
                            <div class="input-field col s6">
                                <label>Major</label>
                                <select class="center" ng-options="m.mid as m.name for m in preload.majors"
                                        ng-model="predicates.education.deg[2].mid" material-select watch></select>
                            </div>
                            <div class="input-field col s4">
                                <input placeholder="From"  type="text" ng-model="predicates.education.deg[2].from" class="validate">
                            </div>
                            <div class="input-field col s4">
                                <input placeholder="To"  type="text" ng-model="predicates.education.deg[2].to" class="validate">
                            </div>
                            <div class="input-field col s4">
                                <label>GPA out of 100</label>
                                <i class="material-icons prefix">grade</i>
                                <input placeholder="GPA"  type="text" ng-model="predicates.education.deg[2].gpa" class="validate">
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div id="student_skill_row" class="input-field col s12">
                <div class="input-field col s12">
                    <select  ng-options="s.sid as s.name for s in preload.skills[0]" ng-model="predicates.education.skills[0]"
                             multiple  material-select watch></select>
                    <label>Techniques</label>
                </div>
                <div class="input-field col s12">
                    <select  ng-options="s.sid as s.name for s in preload.skills[1]" ng-model="predicates.education.skills[1]" multiple  material-select watch></select>
                    <label>CMS</label>
                </div>
                <div class="input-field col s12">
                    <select  ng-options="s.sid as s.name for s in preload.skills[2]" ng-model="predicates.education.skills[2]" multiple  material-select watch></select>
                    <label>Operating System</label>
                </div>
            </div>
            <div id="student_certificate_row" class="input-field col s12">
                <select  ng-options="m.mid as m.name for m in preload.certifications" ng-model="predicates.education.certifications"
                         multiple  material-select watch></select>
                <label>Certification owned</label>
            </div>
            <div id="student_experience_row" class="input-field col s12">
                <ul class="collapsible" data-collapsible="accordion">
                    <li>
                        <div class="collapsible-header"><i class="material-icons">filter_drama</i>First Job</div>
                        <div class="collapsible-body">
                            <div class="row">
                                <div class="input-field col s6">
                                    <input placeholder="From"  type="text" ng-model="predicates.experience.exp[0].from" class="validate">
                                </div>
                                <div class="input-field col s6">
                                    <input placeholder="To"  type="text" ng-model="predicates.experience.exp[0].to" class="validate">
                                </div>
                            </div>
                            <div class="input-field col s12">
                                <label>Company</label>
                                <select  ng-options="c.cid as c.name for c in preload.companies" 
                                         ng-model="predicates.experience.exp[0].com" material-select watch></select>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">filter_drama</i>Second Job</div>
                        <div class="collapsible-body">
                            <div class="row">
                                <div class="input-field col s6">
                                    <input placeholder="From"  type="text" ng-model="predicates.experience.exp[1].from" class="validate">
                                </div>
                                <div class="input-field col s6">
                                    <input placeholder="To"  type="text" ng-model="predicates.experience.exp[1].to" class="validate">
                                </div>
                            </div>
                            <div class="input-field col s12">
                                <label>Company</label>
                                <select  ng-options="c.cid as c.name for c in preload.companies" 
                                         ng-model="predicates.experience.exp[1].com" material-select watch></select>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">filter_drama</i>Third Job</div>
                        <div class="collapsible-body">
                            <div class="row">
                                <div class="input-field col s6">
                                    <input placeholder="From"  type="text" ng-model="predicates.experience.exp[2].from" class="validate">
                                </div>
                                <div class="input-field col s6">
                                    <input placeholder="To"  type="text" ng-model="predicates.experience.exp[2].to" class="validate">
                                </div>
                            </div>
                            <div class="input-field col s12">
                                <label>Company</label>
                                <select  ng-options="c.cid as c.name for c in preload.companies" 
                                         ng-model="predicates.experience.exp[2].com" material-select watch></select>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="left modal-close waves-effect waves-green btn-flat" ng-click="resetPredicates();" >Cancel</a>
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="submitStudent();" >Submit</a>
    </div>
</div>
<div id="add-company-modal" class="modal modal-fixed-footer">
    <div class="modal-content">
        <div class="row">
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s3 active"><a href="#company_basic_tab" >Basic</a></li>
                    <li class="tab col s3"><a href="#company_contact_tab">Contact</a></li>
                    <li class="tab col s3"><a href="#company_misc_tab">Misc</a></li>
                </ul>
            </div>
            <div id="company_basic_tab" class="col s12">
                <div class="input-field col s12">
                    <input placeholder="Company Name" required type="text" ng-model="companyPredicates.name">
                </div>
                <div class="input-field col s6">
                    <input placeholder="Address" required type="text" ng-model="companyPredicates.address">
                </div>
                <div class="input-field col s6">
                    <input placeholder="Postal code" required type="text" ng-model="companyPredicates.postal">
                </div>
                <div class="input-field col s6">
                    <label>City select</label>
                    <select ng-model="companyPredicate.city.cid" required watch material-select>
                        <option ng-repeat="city in preload.cities" value="{{city.cid}}" >{{city.name}}</option>
                    </select>
                </div>
                <div class="input-field col s6">
                    <label>Company Type</label>
                    <select ng-options="c.cid as c.name for c in preload.types"
                            ng-model="company.companyType.cid" material-select watch></select>
                </div>
            </div>
            <div id="company_contact_tab" class="col s12">
                <div class="input-field col s6">
                    <input placeholder="First Name" required type="text" ng-model="companyPredicates.firstName">
                </div>
                <div class="input-field col s6">
                    <input placeholder="Last Name" required type="text" ng-model="companyPredicates.lastName">
                </div>
                <div class="input-field col s6">
                    <input placeholder="Email" required type="text" ng-model="companyPredicates.email">
                </div>
                <div class="input-field col s6">
                    <input placeholder="Telephone" required type="text" ng-model="companyPredicates.telephone">
                </div>
                <div class="input-field col s6">
                    <input placeholder="Position" required type="text" ng-model="companyPredicates.position">
                </div>
            </div>
            <div id="company_misc_tab" class="col s12">
                <div class="input-field col s12">
                    <input placeholder="Website" required type="text" ng-model="companyPredicates.website">
                </div>
                <div class="input-field col s12">
                    <textarea id="textarea2" class="materialize-textarea" ng-model="companyPredicates.note"></textarea>
                    <label for="textarea2">Note</label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="left modal-close waves-effect waves-green btn-flat" ng-click="resetPredicates();">Cancel</a>
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="addCompany();">Submit</a>
    </div>
</div>
<div id="add-skill-modal" class="modal modal-fixed-footer">
    <div class="modal-content">
        <div class="row">
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s3 active"><a href="#degree_row">Skill</a></li>
                    <li class="tab col s3"><a href="#degree_row">Skill Type</a></li>
                    <li class="tab col s3"><a href="#skill_row">Misc</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="left modal-close waves-effect waves-green btn-flat ">Cancel</a>
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Submit</a>
    </div>
</div>
<div id="add-city-modal" class="modal modal-fixed-footer">
    <div class="modal-content">
        <div class="row">
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s3 active"><a href="#degree_row">City</a></li>
                    <li class="tab col s3"><a href="#degree_row">Country</a></li>
                    <li class="tab col s3"><a href="#skill_row">Misc</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="left modal-close waves-effect waves-green btn-flat ">Cancel</a>
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Submit</a>
    </div>
</div>
<div id="add-university-modal" class="modal modal-fixed-footer">
    <div class="modal-content">
        <div class="row">
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s3 active"><a href="#degree_row">University</a></li>
                    <li class="tab col s3"><a href="#degree_row">Major</a></li>
                    <li class="tab col s3"><a href="#skill_row">Misc</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="left modal-close waves-effect waves-green btn-flat ">Cancel</a>
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Submit</a>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('ul.tabs').tabs();
        $('#add-more .modal-trigger').leanModal({dismissible: false});
    });
</script>