<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a class="center">Job</a>
            </li>
            <li>
                <button data-target="job-basic-modal" class="modal-trigger btn waves-effect waves-light"
                        ng-click="loadAllSkills();loadAllJobGroups();loadAllTypes();loadAllCities();">
                    Basic
                </button>
            </li>
            <li class="divider" style="height: 15px;"></li>
            <li>
                <button class="btn waves-effect waves-light red" ng-click="print(jobPredicate); resetPredicates();">Reset
                    <i class="material-icons right">settings_backup_restore</i>
                </button>
            </li>
            <li>
                <button class="btn waves-effect waves-light blue" ng-click="searchJob();">Search
                    <i class="material-icons right">thumb_up</i>
                </button>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->
</div>
<!-- /#wrapper -->
<div style="position: absolute; left:220px; width: 80%">
    <table ng-table="" class="highlight table " >
        <tr ng-repeat="job in preload.jobs track by job.jid">
            <td data-title="'JID'"   sortable="'jid'"><a ng-click="getJob(job.jid)" >{{job.jid}}</a></td>
            <td data-title="'Job Group'" filter="{ name :'text'}">{{job.jobGroup.name}}</td>
            <td data-title="'Company'" filter="{ name :'text'}">{{job.company.name}}</td>
            <td data-title="'Company Type'" filter="{ name: 'text'}">{{job.company.companyType.name}}</td>
            <td data-title="'City'" filter="{ name: 'text'}">{{job.company.city.name}}</td>
            <td data-title="'Salary'" filter="{ name: 'text'}">{{job.salary}}</td>
            <td><button class="red btn btn-small" ng-click="deleteJob(job.jid);searchJob()">  <i class="material-icons">not_interested</i> </button></td>
        </tr>
    </table>
</div>
<!-- Modal Structure -->
<div id="job-basic-modal" class="modal modal-fixed-footer">
    <div class="modal-content">
        <div class="row">
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s3"><a href="#company_name_tab" >Basic</a></li>
                    <li class="tab col s3"><a href="#company_requirement_tab" >Requirement</a></li>
                </ul>
            </div>
            <div id="company_name_tab" class="col s12">
                <div class="input-field col s6">
                    <label>City</label>
                    <select ng-model="jobPredicate.company.city.cid" watch material-select>
                        <option ng-repeat="c in preload.cities" value="{{c.cid}}" >{{c.name}}</option>
                    </select>
                </div>
                <div class="input-field col s6">
                    <label>Company Type</label>
                    <select ng-options="ct.cid as ct.name for ct in preload.types"
                            ng-model="jobPredicate.company.companyType.cid" material-select watch></select>
                </div>
                <div class="input-field col s6">
                    <label>Job Group</label>
                    <select ng-options="jg.jgid as jg.name for jg in preload.jobGroups"
                            ng-model="jobPredicate.jobGroup.jgid" material-select watch></select>
                </div>
                <div class="col s6">
                    <label>Base salary/Month</label>
                    <p class="range-field">
                        <input type="range" ng-model="jobPredicate.salary" min="1000" max="20000" />
                    </p>
                </div>
            </div>
            <div id="company_requirement_tab" class="col s12">
                <div class="input-field col s12">
                    <select  ng-options="s.sid as s.name for s in preload.skills[0]"
                             ng-model="jobPredicate.skills[0]" multiple  material-select watch></select>
                    <label>Techniques</label>
                </div>
                <div class="input-field col s12">
                    <select  ng-options="s.sid as s.name for s in preload.skills[1]"
                             ng-model="jobPredicate.skills[1]" multiple  material-select watch></select>
                    <label>CMS</label>
                </div>
                <div class="input-field col s12">
                    <select  ng-options="s.sid as s.name for s in preload.skills[2]"
                             ng-model="jobPredicate.skills[2]" multiple  material-select watch></select>
                    <label>Operating System</label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Ok</a>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#wrapper .modal-trigger').leanModal();
        $('ul.tabs').tabs();
        $('select').material_select();
        $("#w1").click(function () {
            $("#company-country-tab").addClass('disabled');
            $("#time-tab").addClass('disabled');
        });
        $("#w3").click(function () {
            $("#company-country-tab").addClass('disabled');
            $("#time-tab").removeClass('disabled');
        });
        $("#w2").click(function () {
            $("#company-country-tab").removeClass('disabled');
            $("#time-tab").removeClass('disabled');
        });
    });
    $('.dropdown-button').dropdown({
        inDuration: 300,
        outDuration: 225,
        constrain_width: false, // Does not change width of dropdown to that of the activator
        hover: true, // Activate on hover
        gutter: 0, // Spacing from edge
        belowOrigin: false, // Displays dropdown below the button
        alignment: 'left' // Displays dropdown with edge aligned to the left of button
    });
</script>